.navbar {
  background-color: #d2e98f;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  color: rgb(24, 12, 12);

}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
  color: blue;
}
