.profile-container {
  margin: 1px auto;
  padding: 25px;
  background-color: #f3f3f3;
  border-radius: 10px;
  height:300px;
  width: 800px;
  margin-top: 8%;
}

.profile-form input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 35%;
  cursor: pointer;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049;
}

.toggle-link {
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  color: #0077cc;
  font-size: 14px;
}
